mixin sCooperation(data)
	// start sCooperation
	+b.SECTION.sCooperation.section#sCooperation&attributes(attributes)
		-
			let banks = [2,3,4,2,2,5,6,7,8,7,4,5,3]
		.container-xl
			+b.section-title.text-center
				h2 С нами сотрудничают
			+e.icon-wrap.tabs
				.tabs__caption
					+e.icon--icon1.tabs__btn(data-title="Название банка 1" data-text="Описание банка 1" data-link="#link").active
							img(src=`img/svg/cooperation-1.svg`, alt="")
					each bank, index in banks
						+e.icon.tabs__btn.wow.animate__slideInUp(class=`sCooperation__icon--icon${index + 2}` data-title=`Название банка ${bank}` data-text=`Описание банка ${bank}` data-link="#link")
							img(src=`img/svg/cooperation-${bank}.svg`, alt="")
				+e.center-block
					+e.center-img
						.tabs__content.active 
							+e.center-img-wrap
								img(src="img/svg/cooperation-1.svg", alt="")
						each bank, index in banks
							.tabs__content 
								+e.center-img-wrap
									img(src=`img/svg/cooperation-${bank}.svg`, alt="")
					+e.center-title  
					+e.center-caption
					+e.center-link(href="#")
						span Подробнее о сотрудничестве
						+icon(`chevron-right`)
	// end sCooperation